[Unit]
Description=Nginx RTMP service
After=network.target syslog.target remote-fs.target nss-lookup.target

[Service]
ExecStartPre=/usr/local/nginx/sbin/nginx -t
ExecStart=/usr/local/nginx/sbin/nginx
ExecReload=/usr/local/nginx/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
Type=forking

[Install]
WantedBy=multi-user.target
